     
.contact-container {
    /* margin: auto; */
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 10vh;
    min-height: calc(100vh - 170px);
}

form {
    
    display: flex;
    flex-direction: column;
    padding: 0 10%;
}

form h5 {
    margin-bottom: 3%;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    gap: 5%;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

label {
    margin-bottom: 5px;
    font-weight: 400;
    color: #808080;
}

input,
textarea {
    padding: 10px;
    border: 0;
    border-bottom: 0.5px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); 
}

input:focus {
    outline: none;
    
}

textarea {
    resize: vertical;
}

button {
    margin-top: 5%;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    align-self: flex-start;
    font-weight: 400;
    letter-spacing: 0.2rem;
}

button:hover {
    background-color: #8bc34a;
}

@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }

    .form-group {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .form-group:last-child {
        margin-bottom: 0;
    }
}