
<div class="container" *ngIf="article">
    <img *ngIf="article.urlToImage" [src]="article.urlToImage" alt="Article image" class="image">
    <div class="card-content">
        <p class="darker">Editor's Pick</p>
        <h2>{{ article.title }}</h2>
        <br>
        <p class="darker">{{ article.description || 'No description available.' }}</p>
        <br>
        <div class="card-tail">
            <p class="small">{{ article.author || 'Unknown author' }}</p>
            <p class="small text-color">{{ article.publishedAt | date:'MMM d, y' }} • 3 min read</p>
        </div>
    </div>
</div>