<div class="container">
    <img src="https://imageslidermaker.com/ism/image/slides/beautiful-701678_1280.jpg" alt="..." class="image">
    <div class="card-content">
        <p class="darker">Editors Pick</p>
        <h2>News Needs to Meet Its Audiences Where They Are</h2> 
        <br>
        <p class="darker">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum eligendi minima impedit, culpa eum enim quo repellat illo ipsam quisquam sed quos, est officiis saepe. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora dolorem perspiciatis ab adipisci nesciunt enim, quasi pariatur optio animi voluptatibus eaque! Iusto alias iure unde?</p>
        <br>
        <div class="card-tail">
            <p class="small">Dave Roger in Food</p>
            <p class="small text-color">Jun 14 • 3 min read</p>
        </div>
    </div>
</div>