<div class="footer-container">
    <div class="newsletter">
        <h5>newsletter Subscribe</h5>
        <p class="darker small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis aspernatur ut at quae omnis pariatur obcaecati
        possimus nisi ea iste!</p>
    </div>
    <div class="subscribe-form">
        <form action="#" method="POST">
            <input type="text" class="input" placeholder="Type your message...">
            <button type="submit" class="Sbutton">
                <i class="fas fa-paper-plane"></i>
            </button>
        </form>
    </div>
</div>
