<div class="container">
    <div class="toOneSide">
        <div class="card-header">
            <h5>Politics</h5>
        </div>
        <div class="card-content">
            <img src="https://imageslidermaker.com/ism/image/slides/beautiful-701678_1280.jpg" alt="..." class="image">
            <div class="content">
                <h6>News Needs to Meet Its Audiences Where They Are</h6>
                <p class="darker">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam
                quibusdam.</p>
                <div class="card-end">
                    <p class="small">Dave Roger in Food</p>
                    <p class="small text-color">Jun 14 • 3 min read</p>
                </div>
            </div>
        </div>
        <div class="card-content">
            <img src="https://imageslidermaker.com/ism/image/slides/beautiful-701678_1280.jpg" alt="..." class="image">
            <div class="content">
                <h6>News Needs to Meet Its Audiences Where They Are</h6>
                <p class="darker">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum
                    quam
                    quibusdam.</p>
                <div class="card-end">
                    <p class="small">Dave Roger in Food</p>
                    <p class="small text-color">Jun 14 • 3 min read</p>
                </div>
            </div>
        </div>
        <div class="card-content">
            <img src="https://imageslidermaker.com/ism/image/slides/beautiful-701678_1280.jpg" alt="..." class="image">
            <div class="content">
                <h6>News Needs to Meet Its Audiences Where They Are</h6>
                <p class="darker">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum
                    quam
                    quibusdam.</p>
                <div class="card-end">
                    <p class="small">Dave Roger in Food</p>
                    <p class="small text-color">Jun 14 • 3 min read</p>
                </div>
            </div>
        </div>
    </div>
    <div class="toOneSide">
        <div class="card-header">
            <h5>Business</h5>
        </div>
        <div class="card-content">
            <img src="https://imageslidermaker.com/ism/image/slides/beautiful-701678_1280.jpg" alt="..." class="image">
            <div class="content">
                <h6>News Needs to Meet Its Audiences Where They Are</h6>
                <p class="darker">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam
                    quibusdam.</p>
                    <div class="card-end">
                        <p class="small">Dave Roger in Food</p>
                        <p class="small text-color">Jun 14 • 3 min read</p>
                    </div>
                </div>
        </div>
        <div class="card-content">
            <img src="https://imageslidermaker.com/ism/image/slides/beautiful-701678_1280.jpg" alt="..." class="image">
            <div class="content">
                <h6>News Needs to Meet Its Audiences Where They Are</h6>
                <p class="darker">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum
                    quam
                    quibusdam.</p>
                <div class="card-end">
                    <p class="small">Dave Roger in Food</p>
                    <p class="small text-color">Jun 14 • 3 min read</p>
                </div>
            </div>
        </div>
        <div class="card-content">
            <img src="https://imageslidermaker.com/ism/image/slides/beautiful-701678_1280.jpg" alt="..." class="image">
            <div class="content">
                <h6>News Needs to Meet Its Audiences Where They Are</h6>
                <p class="darker">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam
                    quibusdam.</p>
                    <div class="card-end">
                        <p class="small">Dave Roger in Food</p>
                        <p class="small text-color">Jun 14 • 3 min read</p>
                    </div>
                </div>
        </div>
    </div>
</div>