
<div class="news-container">
    <div class="first-section">
        <div class="heading">
            <h5><u>Editor's Pick</u></h5>
        </div>
        <div class="heading-content">
            <div class="box big-card">
                <img src="https://imageslidermaker.com/ism/image/slides/beautiful-701678_1280.jpg" alt="">
                <div class="cont">
                    <h3>News Needs to Meet Its Audiences Where They Are</h3>
                    <br>
                    <p class="darker">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam
                        quibusdam.</p>
                    <p class="small">Dave Rogers in News</p>
                    <p class="small text-color">Jun 14 • 3 min read</p>
                </div>
            </div>
            <div class="box img-cards">
                <div class="side-card">
                    <img src="https://imageslidermaker.com/ism/image/slides/beautiful-701678_1280.jpg" alt="">
                    <div class="content">
                        <h6>News Need To meet Its Audiences Where They Are</h6>
                        <p class="small">Dave Rogers in News</p>
                        <p class="small text-color">Jun 14 • 3 min read</p>
                    </div>
                </div>
                <div class="side-card">
                    <img src="https://imageslidermaker.com/ism/image/slides/beautiful-701678_1280.jpg" alt="">
                    <div class="content">
                        <h6>News Need To meet Its Audiences Where They Are</h6>
                        <p class="small">Dave Rogers in News</p>
                        <p class="small text-color">Jun 14 • 3 min read</p>
                    </div>
                </div>
                <div class="side-card">
                    <img src="https://imageslidermaker.com/ism/image/slides/beautiful-701678_1280.jpg" alt="">
                    <div class="content">
                        <h6>News Need To meet Its Audiences Where They Are</h6>
                        <p class="small">Dave Rogers in News</p>
                        <p class="small text-color">Jun 14 • 3 min read</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box trending">
        <div class="heading" id="trending">
            <h5><u>Trending</u></h5>
        </div>
        <div class="side-card">
            <h1 class="text-color">01</h1>
            <div class="content">
                <h6>News Needs to Meet Its Audiences Where They Are</h6>
                <p class="small">Dave Rogers in News</p>
                <p class="small text-color">Jun 14 • 3 min read</p>
            </div>
        </div>
        <div class="side-card">
            <h1 class="text-color">02</h1>
            <div class="content">
                <h6>News Needs to Meet Its Audiences Where They Are</h6>
                <p class="small">Dave Rogers in News</p>
                <p class="small text-color">Jun 14 • 3 min read</p>
            </div>
        </div>
        <div class="side-card">
            <h1 class="text-color">03</h1>
            <div class="content">
                <h6>News Needs to Meet Its Audiences Where They Are</h6>
                <p class="small">Dave Rogers in News</p>
                <p class="small text-color">Jun 14 • 3 min read</p>
            </div>
        </div>
        <p class="more">SEE ALL TRENDS ></p>
    </div>
</div>