.news-container {
    display: flex;
    margin: 10% auto;
    justify-content: space-between;
    width: 1050px;
}

.heading-content {
    display: flex;
    justify-content: center;
    width: 700px;
}

.box {
    flex: 1 1 30%;
    margin: 2%;
    /* background-color: aqua; */
}

#trending {
    transform: translate(0 , -20px);
}

.big-card {
    width: 100%;
}

.big-card img {
    width: 100%;
    margin-bottom: 15px;
    object-fit: cover;
} 

.img-cards {
    display: flex;
    width: 50%;
    margin: 0 auto;
    flex-direction: column;
}

.side-card {
    display: flex;
    margin-bottom: 5%;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    gap: 15px;
}

.side-card img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}


.trending {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.content>h6 {
    padding: 10px 0;
}

.content>p {
    line-height: 85%;
}

.box.img-cards>.side-card:first-child {
    background-color: #f8f9fa;
}

@media (max-width: 991px) {
    .news-container {
        flex-wrap: wrap;
        width: min-content;
    }
    
    .content {
        width: 50vh;
    }

    .img-cards {
        width: 50%;
    }

    .side-card {
        width: 100%;
        justify-content: start;
    }
    
}

@media (max-width: 767px) {
    .heading-content {
        display: contents;
    }

    .big-card {
        margin: auto;
        width: 85%;
        margin-top: 25px;
    }

    .img-cards {
        margin-top: 25px;
        width: 100%;
    }
}
