
<div class="news-container">
    <div class="box big-card">
        <h5><u>Editor's Pick</u></h5>
        <img src="https://imageslidermaker.com/ism/image/slides/beautiful-701678_1280.jpg" alt="">
        <h3>News Needs to Meet Its Audiences Where They Are</h3>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam
            quibusdam.</p>
    </div>
    <div class="box img-cards">
        <div class="side-card">
            <img src="https://imageslidermaker.com/ism/image/slides/beautiful-701678_1280.jpg" alt="">
            <h6>News Need To meet Its Audiences Where They Are</h6>
        </div>
        <div class="side-card">
            <img src="https://imageslidermaker.com/ism/image/slides/beautiful-701678_1280.jpg" alt="">
            <h6>News Need To meet Its Audiences Where They Are</h6>
        </div>
        <div class="side-card">
            <img src="https://imageslidermaker.com/ism/image/slides/beautiful-701678_1280.jpg" alt="">
            <h6>News Need To meet Its Audiences Where They Are</h6>
        </div>
    </div>
    <div class="box trending">
        <h5><u>Trending</u></h5>
        <div class="side-card">
            <h1>01</h1>
            <div class="content">
                <h6>News Needs to Meet Its Audiences Where They Are</h6>
                <p class="small">Dave Rogers in News</p>
                <p class="small">Jun 14 • 3 min read</p>
            </div>
        </div>
        <div class="side-card">
            <h1>01</h1>
            <div class="content">
                <h6>News Needs to Meet Its Audiences Where They Are</h6>
                <p class="small">Dave Rogers in News</p>
                <p class="small">Jun 14 • 3 min read</p>
            </div>
        </div>
        <div class="side-card">
            <h1>01</h1>
            <div class="content">
                <h6>News Needs to Meet Its Audiences Where They Are</h6>
                <p class="small">Dave Rogers in News</p>
                <p class="small">Jun 14 • 3 min read</p>
            </div>
        </div>
        <p>SEE ALL TRENDS ></p>
    </div>
</div>