
    <div class="logo-header">
        <div class="logo">
            <h2>Newspaper</h2>
        </div>
        <div class="search-container">
            <div class="social">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
            <div class="form">
                <input type="search" placeholder="Search" aria-label="Search">
                <button class="search-btn" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg sticky-top bg-white">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link mx-lg-3 text-black active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-3" href="#">CATEGORIES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-3 " href="#">POLICIS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-3 " href="#">BUSINESS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-3 " href="#">HEALTH</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-3 " href="#">DESIGIN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-3 " href="#">SPORT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-3 " href="#">CONTACT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <app-slider></app-slider>
    <app-trends-news></app-trends-news>
    <app-middle-card></app-middle-card>
    <app-site-section></app-site-section>
    <app-recent-news></app-recent-news>