<div class="container">
    <div class="toLeftSide">
        <div class="card-header">
            <p><sub>BUSINESS</sub></p>
            <h5><u>Recent News</u></h5>
        </div>
        <div class="card-content">
            <div class="content">
                <h6>News Needs to Meet Its Audiences Where They Are</h6>
                <p class="darker">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus
                    praesentium neque, voluptatum quam
                    quibusdam.</p>
                <div class="card-end">
                    <p class="small">Dave Roger in Food</p>
                    <p class="small text-color">Jun 14 • 3 min read</p>
                </div>
            </div>
            <img src="https://imageslidermaker.com/ism/image/slides/beautiful-701678_1280.jpg" alt="..." class="image">
        </div>
        <div class="card-content">
            <div class="content">
                <h6>News Needs to Meet Its Audiences Where They Are</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque,
                    voluptatum quam
                    quibusdam.</p>
                <div class="card-end">
                    <p class="small">Dave Roger in Food</p>
                    <p class="small text-color">Jun 14 • 3 min read</p>
                </div>
            </div>
            <img src="https://imageslidermaker.com/ism/image/slides/beautiful-701678_1280.jpg" alt="..." class="image">
        </div>
    </div>
    <div class="toRightSide">
        <div class="card-header">
            <h5>Popular Posts</h5>
        </div>
        <div class="card-content">
            <h1 class="text-color">01</h1>
            <div class="content">
                <h6>News Needs to Meet Its Audiences Where They Are</h6>
                <div class="card-end">
                    <p class="small">Dave Roger in Food</p>
                    <p class="small text-color">Jun 14 • 3 min read</p>
                </div>
            </div>
        </div>
        <div class="card-content">
            <h1 class="text-color">02</h1>
            <div class="content">
                <h6>News Needs to Meet Its Audiences Where They Are</h6>
                <div class="card-end">
                    <p class="small">Dave Roger in Food</p>
                    <p class="small text-color">Jun 14 • 3 min read</p>
                </div>
            </div>
        </div>
        <p class="more">SEE ALL POPULAR ></p>
    </div>
</div>