
<div class="d-flex justify-content-center">
    <carousel [showIndicators]="true">
        <slide *ngFor="let article of articles; let i = index">
            <div class="carousel-slide">
                <div class="image-container">
                    <img [src]="article.urlToImage" alt="{{ article.title }}" class="image">
                </div>
                <div class="text-container">
                    <div class="carousel-text">
                        <h3>{{ article.title }}</h3>
                        <p>{{ article.description }}</p>
                        <a [href]="article.url" target="_blank">Read more</a>
                    </div>
                </div>
            </div>
        </slide>
    </carousel>
</div>